.form {
}

.form__section {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.form__label {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form__input {
  width: 100%;
  padding: 1rem;
}

.form__container {
  display: flex;
  align-items: center;
  padding: 2rem;
}
